@font-face {
    font-family: 'caraterre';
    src: url('Carattere-Regular.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffda2;
    overflow: hidden;
}

#container {
    display: block;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

h1 {
    font-size: 5em;
    font-family: 'caraterre', 'Roboto', sans-serif;
    color: #000000;
}

#rizz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.37) 0 0 40px;
    height: 40vh;
    width: 50vw;
    margin-top: 18vh;
}

#text-container {
    margin-top: 5%;
    width: 70%;
}

p {
    font-size: 3em;
    font-family: 'caraterre', 'Roboto', sans-serif;
    color: #000000;
}

#kiss {
    position: absolute;
    width: 10%;
    top: 15%;
    left: 0;
}

#heart {
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 10%;
}

#titi {
    position: absolute;
    width: 20%;
    bottom: 0;
    left: 10%;
}

@media screen and (min-width: 1920px) {
    p {
        font-size: 5em;
    }
}